page-profile {
    padding: 30px;
    .tx{
        font-size:20px;
        width:35%;
        color: #38a992;
        padding-top: 12px
    }
    .inp{
        font-size:20px;
        width:65%;
        color:#38a992;
        border-bottom:2px #9b978b solid
    }
}
